/* ============================================================
  DOCUMENT SETUP
============================================================ */
body{
  font-family: Helvetica, Arial, sans-serif;
}
/* ============================================================
  PRIMARY STRUCTURE
============================================================ */
.container {
  max-width: 960px;
  margin: 0 auto;
}
/* ============================================================
  SECTIONS
============================================================ */
section.module:last-child {
  margin-bottom: 0;
}
section.module h2 {
  margin-bottom: 40px;
  font-size: 2em;
}
section.module p {
  margin-bottom: 40px;
  font-size: 1em;
  font-weight: 300;
}
section.module p:last-child {
  margin-bottom: 0;
}
section.module.content {
  padding: 40px 0;
}
section.module.parallax {
  height: 600px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
section.module.parallax h1 {
  color: rgba(255, 255, 255, 0.8);
  font-size: 3em;
  line-height: 600px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
section.module.parallax-1 {
  background-image: url("img/one.jpg");
}
section.module.parallax-2 {
  background-image: url("img/two.jpg");
}
section.module.parallax-3 {
  background-image: url("img/three.jpg");
}


/* ============================================================
  RESPONSIVE TYPOGRAPHY
============================================================ */
@media all and (min-width: 600px) {
  section.module h2 {
    font-size: 3em;
  }
  section.module p {
    font-size: 2.4em;
  }
  section.module.parallax h1 {
    font-size: 6em;
  }
}
@media all and (min-width: 960px) {
  section.module.parallax h1 {
    font-size: 10em;
  }
}
